@model CheckGiftCardBalanceModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.CheckGiftCardBalance").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}

<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.CheckGiftCardBalance")</h1>
    </div>
    <div class="page-body">
        <div class="giftcard-box">
            @*<div class="title">
                    <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
                </div>*@

            <div class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</div>
            <div class="coupon-code">
                <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" />
                <input type="submit" name="checkbalancegiftcard" id="checkbalancegiftcard" value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button-2 apply-gift-card-coupon-code-button" />
            </div>

            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="message-failure">
                    @Model.Message
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }

        </div>
        <script asp-location="Footer">
            $(document).ready(function () {
                $('#giftcardcouponcode').keydown(function (event) {
                    if (event.keyCode == 13) {
                        $('#checkbalancegiftcard').click();
                        return false;
                    }
                });
            });
        </script>

    </div>
</div>

